# Java
*.class
*.jar
*.war
*.log

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
*.bak

# Archivos personales
*.docx
*.pdf
*.png
*.jpg
*.jpeg

# Archivos de configuración
application-local.properties
